<ul class="nav">
     <li class="nav-item">
       <a class="nav-link active" aria-current="page" routerLink="">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink="/teams">Teams</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/teams/search">Search</a>
     </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams/add">Team Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/signup">Sign up</a>
      </li>
      <app-login></app-login>
   </ul>
